
{% for label, flash in app.flashes %}
{% for message in flash %}
    <div class="flashContainer">
        <div class="flash bg-{{label}}">
            {{message}} 
        </div>
    </div>
{% endfor %}
{% endfor %}