{% extends 'base.html.twig' %}

{% block title %}Runart{% endblock %}

{% block body %}
    <div class="h-screen flex flex-col items-center justify-center">
        <button class="px-4 py-2 bg-blue-900 hover:bg-blue-800 text-white rounded">
            Click here
        </button>
    </div>
{% endblock %}
