@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(68 64 60)
}

.header {
    background-image: linear-gradient(to top, rgba(2,0,12,0.5) 0%, rgba(2,0,12,0.5) 100%), url('../uploads/bg_01.jpg');
}

.logo {
    width: 13%;

}

.video {
    height: 450px;
}

.profil {
    shape-outside: inset(1% round 50%);
}

.oeuvre {
    width: 30%;
}
/*Accordeon*/
#root{
    height: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 100%;
    grid-gap: 0;
    height: 100%;
}
.grid-items{
    
    height: 100%;
    width: 100%;
}
.img-responsive{
    height : 100%;
    width: auto;
    object-fit: cover;
}