@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(68 64 60)
}

.header {
    background-image: linear-gradient(to top, rgba(2,0,12,0.5) 0%, rgba(2,0,12,0.5) 100%), url('../uploads/bg_01.jpg');
}

.logo {
    width: 13%;

}

.video {
    height: 450px;
}

.profil {
    shape-outside: inset(1% round 50%);
}

.oeuvre {
    width: 30%;
}

/*Accordeon*/
#root{
    height: 100%;
}
.grid-container{
    display: flex;
    width: auto;
    height: 100%;
}
@media  screen and (max-width:640px)  {
    .grid-container{
        flex-direction: column;
    }
}
.grid-items{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
}
.img-responsive{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height : 100%;
    background-size: cover;
}
.title-items{
    transform: rotate(90deg);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:white;
    opacity: 1.2;
    width: fit-content;
    padding : 0;
    width: 10%;
    font-size : 4em;
}
@media  screen and (max-width:640px)  {
    .title-items{
        transform: rotate(0);
    }
}
.title-container{
    width: 100%;  
}
.artiste{
    font-size: 1em;
    color:white;
    padding-left: 2em;
}
.artiste-container{
    font-size : 1.5em;
    color:white;
    padding-top : 2em;
    padding-left: 1em;
}
.filterBlack{
    background-color: rgba(0, 0, 0, 0.46);
    width: 100%;
    height : 100%;
    cursor: pointer;
}
.tags-container{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    height:33%;
    align-self: flex-end;
    
}
@media  screen and (max-width:640px)  {
    .tags-container{
        display: inline-table;
    }
}
@media  screen and (max-width:640px)  {
    .height-25{
        height: 35%;
    }
    
}


.height-50{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55%;
}
@media  screen and (max-width:640px)  {
    .height-50{
         height: 30%;
    }
}
.tags-box{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding : 10px;
}
.tags{
    border-radius: 3px;
    padding : 2px;
    height: fit-content;
    margin: 5px;
    background-color: white;
}
.budget{
    justify-self: flex-start;
    width: 80%;
    color: white;
}

#contact div {
    width: 100%;
}

#inscrire div {
    width: 100%;
}

#inscrire form {
    margin-bottom: 3.5rem;
}

.submit {
    padding: 3px;
    border-radius: 2px;
    margin-top: 10 px;
}

.sub {
    margin-top: 20px !important;
}

textarea {
    height: 100px;
}

.left {
    width: 60% !important;
}

.right {
    width: 40% !important;
}

.success {
    width: 30% !important;
}

.suppr {
    width: 100% !important;
}

.login_form {
    margin-bottom: 2.5rem !important;
}

input {
    color: black !important;
}

.sectionContainer{
    height :90vh;
}
.modal {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0 !important;
}
.flashContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.bg-green{
    background-color: green;
    color: white;
    width: 100%;
    padding:1em;
    display: flex;
    align-items: center;
}