@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: rgb(68 64 60)
}

.header {
    background-image: linear-gradient(to top, rgba(2,0,12,0.5) 0%, rgba(2,0,12,0.5) 100%), url('../uploads/bg_01.jpg');
}

.logo {
    width: 13%;

}

.video {
    height: 450px;
}

.profil {
    shape-outside: inset(1% round 50%);
}

.oeuvre {
    width: 30%;
}

#contact div {
    width: 100%;
}

.submit {
    padding: 3px;
    border-radius: 2px;
    margin-top: 10 px;
}

textarea {
    height: 100px;
}

.left {
    width: 60% !important;
}

.right {
    width: 40% !important;
}

.success {
    width: 30% !important;
}